@import url(/css/fonts.css);
body {
  margin: 0; }

.container {
  margin: auto;
  width: 1400px; }

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 49px;
  letter-spacing: -0.055em;
  color: #181818; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  letter-spacing: -0.055em;
  color: #181818; }

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 49px;
  letter-spacing: -0.055em;
  color: #181818; }

p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: -0.055em;
  color: rgba(24, 24, 24, 0.84); }
