@media only screen
and (min-width: 320px)
and (max-width: 480px) {

  /* NAVBAR */
  nav ul {
    padding: 0;
  }
  .wrapperz {
    max-width: 480px !important;
  }

  .nav__item {
    font-size: 16px !important;
  }

  .logo {
    width: 60px !important;
  }

  .dl-button {
    padding: 6px 18px !important;
    font-size: 13px !important;
    display: none;
  }

  /* HERO BANNER */
  .cta-banner {
    text-align: center !important;
  }

  h1 {
    margin: 0;
    font-size: 36px;
  }
  h2 {
    margin: 0;
    font-size: 28px;
  }

  p {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-banner {
    height: 550px !important;
  }

  .hero-banner .right-side {
    display: none !important;
  }
  .hero-banner .left-side {
    margin: auto !important;
  }

  .hero-banner .secondary-button {
    display: none;
  }


  /* SKILLS */
  .skills-section .right-side{
    margin: auto !important;
  }

  .skills-section .circle-title {
    margin: auto !important;
  }
  .skills-section h2 {
    font-size: 26px !important;
    line-height: normal !important;
  }

  .skills-section p {
    font-size: 16px !important;
  }

  .skills-section .left-side {
    display: none !important;
  }

  .second-column {
    margin-left: 40px !important;
  }
  .skills-section .primary-button {
    font-size: 13px !important;
    padding: 6px 16px !important;
    margin-right: 0 !important;
  }

  .caroussel #img1 {
    width: 90px !important;
  }
  .caroussel #img2 {
    width: 60px !important;
  }
  .caroussel #img3 {
    width: 70px !important;
  }
  .caroussel #img4 {
    width: 50px !important;
  }
  .caroussel #img5 {
    width: 40px !important;
  }

    /* CONTACT */
  .contact-card {
    height: 650px;
    max-width: 90% !important;
  }

  .contact-card h4 {
    margin-top: 50px;
  }

  .little-input {
    padding: 10px !important;
    max-width: 150px !important;
  }
  .selector {
    padding: 10px !important;

    max-width: 90% !important;
  }

  .step-2{
    flex-direction: column;
  }

  .budget {
    text-align: center;
  }
  .interest {
    text-align: center;
  }

  h4 {
    font-size: 16px !important;
  }

  .step-3 {
    text-align: center !important;
    margin: auto !important;
  }

  .step-3 .big-input {
    max-width: 87% !important;
  }

  /* FOOTER */
  footer p {
    display: none !important;
  }
  footer .links {
    justify-content: space-between !important;
    width: 280px !important;
  }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {

}
