@import '/css/fonts.css';

body{
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  width: 1400px;
  box-sizing: border-box;
}

h1 {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 49px;
letter-spacing: -0.055em;
color: #181818;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  letter-spacing: -0.055em;
  color: #181818;
  }

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 49px;
  letter-spacing: -0.055em;
  color: #181818;
  }

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.055em;
  color: #181818;
  margin-bottom: 5px;
  }

p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: -0.055em;
  color: rgba(24, 24, 24, 0.84);
}
