.portfolio-section {
  .container {
    text-align: center;
  }
  .circle-title {
    margin: auto;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  margin-bottom: 150px;
}


.triangle {
  border-top: 600px solid transparent;
  border-bottom: 0px solid transparent;
  border-right:1630px solid #504DFF;
  z-index: -1;
}


.swiper {
  width: 1400px;
  padding-top: 50px;
  padding-bottom: 50px;
  img {
    height: 600px;
    object-fit: cover;
    object-position: top;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: #504DFF !important;
}
