.skills-section {
  margin-top: 40px;
  margin-bottom: 100px; }
  .skills-section h2 {
    margin-top: 0;
    margin-bottom: 20px; }
  .skills-section p {
    margin-bottom: 30px; }
  .skills-section .right-side {
    display: flex;
    align-items: center; }
  .skills-section h3 {
    margin-top: 5px;
    margin-bottom: -10px; }

.second-column {
  margin-left: 150px; }

.skill-item {
  margin-bottom: 50px; }

.icon {
  width: 25px; }

.circle-title {
  border-radius: 80%;
  border: solid 2px #504DFF;
  width: 200px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 13px;
  letter-spacing: -0.055em;
  color: #504DFF;
  display: flex;
  justify-content: center;
  align-items: center; }

.caroussel {
  background-color: #EEEEEE;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .caroussel #img2 {
    width: 90px; }
  .caroussel #img3 {
    width: 100px; }
  .caroussel #img4 {
    width: 75px; }
  .caroussel #img5 {
    width: 60px; }
  .caroussel img {
    width: 10%;
    filter: grayscale(100%);
    transition: 0.2s ease-in-out; }
  .caroussel img:hover {
    filter: none; }
